main {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 30px;
}

.chemestry-chaos {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.806)),
    url(../images/Chemistry-4.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
}

.dino-world {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.806)),
    url(../images/Dino-3.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}

.rocket-lab {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.806)),
    url(../images/rockets.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center 40%;
}
.electricity-explorers {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.815), rgba(0, 0, 0, 0.806)),
    url(../images/electricity-small.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.viritual-tours {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.87), rgba(0, 0, 0, 0.863)),
    url(../images/vr.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.space-day {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.753)),
    url(../images/astronaut-big.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.science-lab {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.774), rgba(0, 0, 0, 0.753)),
    url(../images/science-lab-big.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2 {
  text-align: center;
}

h1 {
  font-size: 36px;
  color: var(--white);
  margin-bottom: 10px;
}
h2 {
  font-size: 24px;
  color: var(--bright-orange);
  font-family: var(--font-primary);
  margin-bottom: 20px;
}
h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: var(--clr-secondary);
}
h4 {
  font-size: 20px;
  color: var(--white);
}

p {
  font-size: 18px;
  line-height: 1.3;
  margin-bottom: 10px;
  font-weight: bold;
  font-weight: 700;
  color: var(--white);
}
ul {
  margin: 10px 0;
  font-size: 18px;
  line-height: 1.2;

  color: var(--white);
}

.event-details {
  margin-top: 30px;
}

.next-event {
  display: flex;
  justify-content: flex-end;
}

.next-event img {
  max-width: 100px;
}
li {
  margin-bottom: 5px;
}

footer h3 {
  color: var(--white);
}
@media (min-width: 968px) {
  h1 {
    font-size: 86px;
    color: var(--white);
    margin-bottom: 20px;
  }
  h2 {
    font-size: 44px;
    color: var(--bright-orange);
    font-family: var(--font-primary);

    margin-bottom: 40px;
  }
  h3 {
    font-size: 32px;
    margin-bottom: 10px;
    color: var(--clr-secondary);
  }
  h4 {
    font-size: 28px;
    color: var(--white);
  }

  p {
    font-size: 24px;
    line-height: 1.3;
    margin-bottom: 10px;
    font-weight: bold;
    font-weight: 700;
    color: var(--white);
  }
  ul {
    font-size: 24px;
  }

  .event-details {
    margin-top: 30px;
  }

  .next-event {
    display: flex;
    justify-content: flex-end;
  }
  .next-event img {
    max-width: 200px;
  }
}
